*.o
*.a
*~
*.so
.envrc
.direnv
.idea/.gitignore
.idea/.name
.idea/editor.xml
.idea/led-timer-display.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/led-timer-display/FileContentIndex/dc9e5ad7-7f51-4a69-8d0d-3f67f63d1487.vsidx
.vs/led-timer-display/v17/.suo
.vs/led-timer-display/v17/Browse.VC.db
.vs/led-timer-display/v17/DocumentLayout.backup.json
.vs/led-timer-display/v17/DocumentLayout.json
.vs/led-timer-display/v17/Solution.VC.db
.vs/led-timer-display/v17/ipch/AutoPCH/ebeca928fa19da0a/LED-TIMER-DISPLAY.ipch
.vs/led-timer-display-vs/FileContentIndex/e9b7e199-762e-47e7-be8f-a6e202ee2ba3.vsidx
.vs/led-timer-display-vs/v17/.suo
.vs/led-timer-display-vs/v17/Browse.VC.db
.vs/led-timer-display-vs/v17/DocumentLayout.backup.json
.vs/led-timer-display-vs/v17/DocumentLayout.json
.vs/led-timer-display-vs/v17/Solution.VC.db
.vs/led-timer-display-vs/v17/ipch/AutoPCH/211449bb3d1bf71d/RECEIVER.ipch
.vs/led-timer-display-vs/v17/ipch/AutoPCH/29d9332a1708b614/LED-TIMER-DISPLAY.ipch
.vs/led-timer-display-vs/v17/ipch/AutoPCH/3acd2404198172e1/HARDWARE-MAPPING.ipch
.vs/led-timer-display-vs/v17/ipch/AutoPCH/7cbe59197922d/C-EXAMPLE.ipch
.vscode/settings.json
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-6ed0b2a8f1f36fddef96.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e752c6bb810c02ef0a70.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-72a0574266dcd5a60197.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-12-10T00-57-31-0691.json
cmake-build-debug/.cmake/api/v1/reply/target-led_timer_display-Debug-993694c4e7f42535baf5.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-54b06e8405ab6a6aea0c.json
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.30.5/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/Testing/Temporary/LastTest.log
led-time.DB69FCEA/x64/Debug/led-timer-display-vs.log
led-time.DB69FCEA/x64/Debug/led-time.DB69FCEA.tlog/CL.command.1.tlog
led-time.DB69FCEA/x64/Debug/led-time.DB69FCEA.tlog/led-timer-display-vs.lastbuildstate
led-time.DB69FCEA/x64/Debug/led-time.DB69FCEA.tlog/unsuccessfulbuild
led-timer-display.vcxproj.user
led-timer-display.vcxproj.filters
led-timer-display.vcxproj
led-timer-display.sln
led-timer-display-vs.vcxproj.user
led-timer-display-vs.vcxproj.filters
led-timer-display-vs.vcxproj
led-timer-display-vs.sln
CMakeLists.txt
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/led_timer_display.sln
build/led_timer_display.vcxproj
build/led_timer_display.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-468f72b185a6d4614bed.json
build/.cmake/api/v1/reply/cmakeFiles-v1-5ee23067ee7c48278023.json
build/.cmake/api/v1/reply/codemodel-v2-b1a01a6976de935d6281.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-04-06T21-47-41-0793.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-6ca28b4037dc6d75a781.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-6ca28b4037dc6d75a781.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-6ca28b4037dc6d75a781.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-6ca28b4037dc6d75a781.json
build/.cmake/api/v1/reply/target-led_timer_display-Debug-86647b6b6dc856080d64.json
build/.cmake/api/v1/reply/target-led_timer_display-MinSizeRel-d3e04e92d0f29da1a226.json
build/.cmake/api/v1/reply/target-led_timer_display-Release-af52fea5069d7f419066.json
build/.cmake/api/v1/reply/target-led_timer_display-RelWithDebInfo-23698c01f7fd523487f9.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-6386a4e6da9699a41650.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-6386a4e6da9699a41650.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-6386a4e6da9699a41650.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-6386a4e6da9699a41650.json
build/.cmake/api/v1/reply/toolchains-v1-c38fcd5b0f54ecab7204.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.30.5-msvc23/CMakeCCompiler.cmake
build/CMakeFiles/3.30.5-msvc23/CMakeCXXCompiler.cmake
build/CMakeFiles/3.30.5-msvc23/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.30.5-msvc23/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.30.5-msvc23/CMakeRCCompiler.cmake
build/CMakeFiles/3.30.5-msvc23/CMakeSystem.cmake
build/CMakeFiles/3.30.5-msvc23/VCTargetsPath.txt
build/CMakeFiles/3.30.5-msvc23/VCTargetsPath.vcxproj
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.30.5-msvc23/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.30.5-msvc23/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/f96285c579bdaa76ea599677d448e264/generate.stamp.rule
build/.cmake/api/v1/reply/index-2025-04-13T21-41-37-0543.json
build/.cmake/api/v1/reply/codemodel-v2-c4a2291031c709fb4529.json
build/.cmake/api/v1/reply/index-2025-04-14T23-36-06-0827.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-7a7bd09d4f9f03949b6c.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-7a7bd09d4f9f03949b6c.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-7a7bd09d4f9f03949b6c.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-7a7bd09d4f9f03949b6c.json
build/.cmake/api/v1/reply/index-2025-04-15T20-27-57-0036.json
